.container{
  background-color: rgb(177, 4, 4);
  min-width: 250px;
  position : relative;

  .head{
    //background-color: cyan;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding : 0.5rem 0 0 0;
    background-color: white;
  }
  .btn_carousel{
    cursor : pointer;
  }
}


.carousel{
  position : absolute;
  max-width: 450px;
  z-index: 40;
  top : 4px;

  &_container{
    padding : 0.5rem;
    z-index: 50;        
    transform : translate3d(0,0,0);  
    display: flex;
    height:100%;
    background-color: white;

    table{
      width: 100%;
      th{ 
        padding:  0.5rem 0;
      }
      td,th{
        text-align: center;
        //border: 1px solid black;
        vertical-align: middle;
        transition : 0.3s;
        width: 32px;
        height: 32px;
        margin : 1px;
        
      }
      td{
        cursor : pointer;
        
        border-radius: 50%;
      }
      td:hover{
        background-color: green;
        border-radius: 50%;
        color : white;
        font-weight: bold;

      }
      .notCurrent{
        color : grey
      }
      .currentDay{
        background-color: hotpink;
        border-radius: 50%;
        color : white;
        font-weight: bold;
      }
    }
  }

}