.main_employee{
  width: 70%;
}

.table{
  padding : 1rem;
  width : 100%;
  overflow-x:auto;
  


  &_content{
    width : 100%;
    border-collapse: collapse;
    border-spacing: 0;
    

    th,td{
     padding:  0.5rem 0.5rem;
     border: 1px solid black;
    }
    span{
      float: right;
      svg{
        
        color: grey;
      }
    }
   

   
    
    tbody{
      tr{
        text-align: center;
      }
    }
  }
}