.input_select{
  display : flex;
  flex-direction: column; 

  .fake_select_container{
    display : flex;
    flex-direction: column;
    position : relative;
    margin-top: 0.5rem;
  }

  .fake_select{
    padding: 0.5rem;
    background-color: #ededed;
    border : 1px solid rgb(143, 143, 143);
    cursor : pointer;
    position: relative;
    box-shadow: 2px 2px 8px 1px black;

    &_arrow{
      position: absolute;
      right : 10px;
      top: 9px;      
    }
  }

  .fake_select_list{
    background-color: rgb(255, 255, 255);
    z-index : 100;
    position : absolute;
    top: 38px;
    left : 0 ;
    right : 0;
    min-width: 100%;
    max-height: 256px;
    overflow-y: scroll;
    padding : 0.5rem 0.5rem 1rem;
    li{
      text-transform: uppercase;
      padding: 0.25rem;
      cursor : pointer;
      

      &:hover{
        background-color:cornflowerblue;
        color : white;
      }
    }
  }
}